<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Chintan.com</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Chintan.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Welcome to TextUtils!</strong> You can do anything with Text
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="container mt-5">
    <form action="/analyze" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter your Text here and let TextUtil do the magic</label>
            <textarea class="form-control" name="text" id="text" rows="9"></textarea>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Remove Punctuation</label>
        </div>

        <div class="custom-control custom-switch">
            <input type="checkbox" name="fullcaps" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">UPPERCASE</label>
        </div>

        <div class="custom-control custom-switch">
            <input type="checkbox" name="newlineremover" class="custom-control-input" id="customSwitch3">
            <label class="custom-control-label" for="customSwitch3">New Line Remover</label>
        </div>

        <div class="custom-control custom-switch">
            <input type="checkbox" name="extraspaceremover" class="custom-control-input" id="customSwitch4">
            <label class="custom-control-label" for="customSwitch4">Extra spaces Remover</label>
        </div>

        <div class="custom-control custom-switch">
            <input type="checkbox" name="charcounter" class="custom-control-input" id="customSwitch5">
            <label class="custom-control-label" for="customSwitch5">Character Counter</label>
        </div>
        <button type="submit" class="btn btn-dark mt-2">Analyze Text</button>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>